<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/712d1996-9c71-4b48-9ebc-0fcece4c8fb6/resourceGroups/eShopBot/providers/Microsoft.Web/sites/e-shop-8c89</ResourceId>
    <ResourceGroup>eShopBot</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://e-shop-8c89.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>e-shop-8c89.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>e-shop-8c89</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$e-shop-8c89</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>